body {
  font-family: 'Carter One', cursive;
  background-color: black;
  color: white;
}

.todoGrid,
.todoDiv {
  display: grid;
  grid-template-columns: 700px 150px 100px;
  margin-bottom: 10px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.todoDiv {
  margin-bottom: 10px;
  align-items: stretch;
}
.cssAdd,
.cssDate {
  font-size: 15px;
  padding: 6px;
  
}
.addButton {
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}





.delete-todo-button {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

